{% extends "null.html" %}
{% block title %}ура{% endblock %}
{% block content %}
<h2>Профиль пользователя</h2>
<ul>
    <li><strong>ID:</strong> {{ user.id }}</li>
    <li><strong>Имя:</strong> {{ user.name }}</li>
    <li><strong>Фамилия:</strong> {{ user.surname }}</li>
    <li><strong>Отчество:</strong> {{ user.patronymic }}</li>
    <li><strong>Телефон:</strong> {{ user.phone }}</li>
    <li><strong>Email:</strong> {{ user.email }}</li>
    <li>
        <strong>Аватар:</strong><br>
        <img src="https://jobint.ru/api/v1/auth/avatar/{{ user.id }}" alt="avatar" style="max-width:150px;max-height:150px;">
    </li>
</ul>


<a href="{{ url_for('logout') }}">Выйти</a>
{% endblock %}
