<!DOCTYPE html>
<html>
<head>
    <title>Профиль</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h2>Профиль</h2>
    <p>Имя: {{ name }}</p>
    <p>Фамилия: {{ surname }}</p>
    <p>Телефон: {{ phone }}</p>
    {% if avatar %}
        <img src="data:image/png;base64,{{ avatar }}" alt="Avatar" width="100">
    {% endif %}
    <form action="{{ url_for('profile_edit') }}">
        <button type="submit">Редактировать</button>
    </form>
    <form action="{{ url_for('delete') }}" method="post">
        <button type="submit">Удалить аккаунт</button>
    </form>
    <form action="{{ url_for('logout') }}" method="post">
        <button type="submit">Выйти</button>
    </form>
</body>
</html>
